@model Deck

<div class="form">
    <form>
        <input type="submit" asp-action="DrawCards" value="Draw 5 cards" />
    </form>
</div>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
